/*登录注册*/
body{
	background: #f6f6f6;
	color: #666;
	height: 100%;
	min-width: 1000px;
	font: 12px/1.5 Tahoma,Helvetica,Arial,'宋体',sans-serif,\5b8b\4f53
}
em,i{
	font-style: normal;
}
.header{
	background: #fff;
}
.header-login{
	border-bottom: 4px solid #ff464e;
}
.header-login .area{
	height: 76px;
	position: relative;
	width: 980px;
	margin: 0 auto;
}
.logo{
	position: absolute;
	background: url(../img/header-total.gif) no-repeat -78px -217px;
	top: 15px;
	left: 0;
	width: 210px;
	height: 56px
}
.protection{
	position: absolute;
	background: url(../img/header-total.gif) no-repeat;
	width: 465px;
	height: 33px;
	right: 10px;
	top: 24px;
}
.fl{
	float: left;
	display: inline;
}
.juan-logo{
	display: block;
	overflow: hidden;
	height: 0px;
	padding-top: 46px;
	width: 88px;
}
.main{
	width:980px;
	margin: 0 auto;
}
.login-main{
	width: 980px;
	margin: 20px auto 0;
}
.login-content{
	width: 978px;
	position: relative;
	background: #FFFFFF;
	overflow: hidden;
	border: 1px solid #e2e2e2;
	padding-bottom: 50px;
}
.title{
	width: 878px;
	padding: 20px 50px;
	border-bottom: 1px solid #E2E2E2;
	overflow: hidden;
}
.hd{
	color: #FF464E;
	font-size: 16px;
	font-family: "微软雅黑","宋体";
	margin-right: 10px;
	background: url(../img/hd-bg.gif) no-repeat center right;
	padding-right: 20px;
	float: left;
}
.tips{
	float: left;
	margin-top: 3px;
}
.other{
	float: right;
	font-size: 14px;
	color: #999;
}
.other a{
	color:#0289cd;
}
.login-center{
	padding: 30px 80px 0 80px;
	width: 818px;
	height: auto;
	overflow: hidden;
}
.content-landing{
	width: 450px;
}
.content-landing li{
	padding-bottom: 25px;
	overflow: visible;
	position: relative;
	height: 45px;
	clear: both;
	list-style: none;
}
.normal{
	width: 80px;
	text-align: right;
	float: left;
	display: inline;
	height: 20px;
	margin-top: 8px;
	font-size: 14px;
}
label{
	cursor: default;
}
.normal-input{
	border: 1px solid #c6c6c6;
	color: #666666;
	padding: 12px 0 12px 10px;
	height: 14px;
	line-height: 14px;
	width: 250px;
	float: left;
}
.otherregister{
	height: 40px;
	line-height: 40px;
	padding-left: 6px;
	display: inline-block;
	margin-top: -2px;
}
.otherregister a{
	color: #0289cd;
}
.verification-code{
	width: 110px;
	float: left;
	margin-left: 10px;
	height: 40px;
}
.code-input{
	width: 130px;
}
.disabled{
	color: #666;
}
.phone-verify{
	display: block;
	background: #E2E2E2;
	width: 110px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border: none;
}
.btn{
	float: left;
	width: 260px;
}
.smt-o{
	background-position: 0 0;
	color: #FFFFFF;
}
.sub{
	width: 260px;
	height: 40px;
	font-size: 16px;
	border-radius: 2px;
	background: url(../img/new-login.gif) no-repeat;
	border: none;
}
.login-center .content-landing .chex-d {
    padding-bottom: 8px;
    height: 20px;
    }
.chex{
	width: 378px;
	float: left;
}
.chex span{
	color: #5e5e5e;
	float: left;
}
.ck{
	vertical-align: -2px;
	margin-right: 5px;
}
.chex a{
	color: #5E5E5E;
}
.chex a:hover{
	color: #FF464E;
}
.login-l-img{
	overflow: hidden;
	width: 358px;
	text-align: right;
}
.mr10{
	margin-right: 10px;
}
.fr{
	float: right;
	display: inline;
}
.line{
	height: 1px;
	width: 290px;
	margin: 20px 0 15px;
	border-top: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
	float: right;
}
.third-login{
	text-align: left;
}
.union-login{
	float: left;
	width: 142px;
	margin-left: 80px;
}
.union-title{
	height: 16px;
	line-height: 16px;
	position: relative;
}
.union-title span{
	color: #333;
}
.third-box{
	margin-top: 10px;
}
.third-box a{
	float: left;
	width: 22px;
	height: 22px;
	margin-right: 7px;
	display: inline;
	background: url(../img/new-login.gif) no-repeat;
}
.third-box .wenxin{
	background-position: -236px -194px;
}
.third-box .wenxin:hover{
	background-position: -210px -194px;
}
.third-box .sina{
	background-position: -27px -169px;
}
.third-box .sina:hover{
	background-position: 0px -169px;
}
.third-box .taobao{
	background-position: -27px -140px;
}
.third-box .taobao:hover{
	background-position: 0px -140px;
}
.foot-tips{
	text-align: center;
	margin: 40px auto;
	width: 900px;
}
.foot-tips a{
	color: #5e5e5e;
}
.foot-tips a:hover{
	color: #ff464e;
}
.ft-company{
	padding-top: 2px;
}

/*登陆*/
.box_border{
	border: 1px solid #c6c6c6;
	width: 270px;
	float: left;
}
.user_img{
	background: url(../img/name2.jpg) no-repeat #f1f1f1;
	width: 39px;
	height: 38px;
	float: left;
}
.code_img{
	background: url(../img/code2.jpg) no-repeat #f1f1f1;
	width: 39px;
	height: 38px;
	float: left;
}
.box_border .normal-input{
    border: 0;
    width: 226px;
    padding: 12px 0 12px 5px;
}
.chex-d .chex {
    width: 280px;
    float: left;
}
.chex .forget{
	float: right;
	color: #999;
}
.chex .forget:hover{
	color: #999;
}
.union-login1 {
    float: left;
    width: 142px;
}
.quick{
	margin: 14px 0 0;
	font-size: 14px;
	color: #666;
}
.icons{
	background: url(../img/icons-total.gif) no-repeat;
	display: block;
}
.icons-phone-other{
	width: 12px;
	height: 22px;
	background-position: right -249px;
	margin: 0 5px 0 0;
}
/*头部*/
#toolar {
  background: #F6F6F6;
  height: 30px;
}

#toolar .bar-con {
  width: 1280px;
}

.bar-con {
  width: 980px;
  margin: 0 auto;
  line-height: 29px;
}

.fr {
  float: right;
  display: inline;
}

#toolar .bar-con .login-show {
  display: block;
  float: left;
  color: #E2E2E2;
}

.bar-con .login-show a {
  margin-left: 15px;
  color: #333333;
}
.bar-con a:hover {
  color: #FF464E;
}
.bar-con .login-show a:hover {
  color: #FF464E;
}

#nav-reg {
  color: #FF464E;
}

.bag-show {
  position: relative;
  float: left;
  z-index: 101;
  width: 107px;
  height: 30px;
  background: url(../img/li_cur.png) no-repeat right 8px;
  color: #F6F6F6;
}

.bag-show .bag-a {
  position: absolute;
  width: 107px;
  display: block;
  top: 2px;
  left: 0;
  text-align: center;
  z-index: 15;
  margin-left: 0;
}
.bag-show:hover {
  background: #fff;
  box-shadow: 0 1px 3px #d9d9d9;
}
.bag-show:hover .bag-a {
    height: 40px;
    background: #fff;
}
.icon-normal {
  display: inline-block;
  vertical-align: -3px;
  background: url(../img/icon-total.png) no-repeat 0 0;
}

.icon-bag {
  position: relative;
  background-position: 0 -156px;
  width: 16px;
  height: 18px;
  float: left;
  margin: 4px 11px 0 12px;
}

.empty {
  line-height: 24px;
  color: #333;
}
.empty em {
  background: none repeat scroll 0 0 #FF464E;
  border-radius: 15px;
  color: #FFFFFF;
  display: inline;
  font-family: "瀹嬩綋";
  height: 18px;
  line-height: 18px;
  margin: 3px 0 0 5px;
  text-align: center;
  width: 18px;
  float: left;
  font-style: normal;
}

.fl {
  float: left;
  display: inline;
}

.other-show {
  display: block;
  float: left;
  color: #E2E2E2;
}

.other-show01 {
  position: relative;
  z-index: 13;
}

.other-show01 a {
  padding-right: 10px;
}

.right-show div a {
  color: #333333;
  margin-left: 15px;
}
.normal-box01 {
  display: none;
  position: absolute;
  top: 24px;
  left: 0;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  overflow: hidden;
  z-index: 13;
}
.normal-box01 a {
  display: block;
  width: 48px;
  margin-left: 12px !important;
  color: #333333;
}

.other-show01:hover .normal-box01 {
  display: block;
}
.header {
  background: #FFFFFF;
}
.carhead{
	position: relative;
    width: 100%;
    background: #ffffff;
    border-bottom: #fc2c3e 2px solid;
}
.clear {
  clear: both;
}

.area {
  width: 1200px;
  position: relative;
  height: 85px;
  margin: 0 auto;
}

.logo {
  position: absolute;
  display: block;
  width: 210px;
  height: 52px;
  background: url(../img/header-total.gif) no-repeat -78px -52px;
  top: 17px;
  left: 0;
}
.juan-temai{
	background-position: -78px -388px;
}
.protection {
  display: block;
  position: absolute;
  width: 465px;
  height: 33px;
  background: url(../img/header-total.gif) no-repeat;
  top: 28px;
  right: 290px;
}
.protection a {
  display: block;
  float: left;
  height: 16px;
  width: 98px;
  margin: 0 0 0 34px;
}

.search {
  top: 25px;
  right: 0;
  width: 237px;
  height: 35px;
  position: absolute;
}

.banner-right-code {
  position: absolute;
  right: -80px;
  top: 125px;
}

.search-area {
  display: block;
  width: 200px;
  height: 35px;
  background: #efefef;
}

.txt {
  border: 0 none;
  outline: 0 none;
  background: #EFEFEF;
  width: 190px;
  height: 30px;
  line-height: 30px;
  margin: 2px 0 0 10px;
  color: #c6c6c6;
}

.smt {
  border: 0 none;
  height: 35px;
  width: 37px;
  display: block;
  background: url(../img/header-total.gif) no-repeat right -65px;
}

.mainNav {
  width: 100%;
  height: 38px;
  border-bottom: 2px solid #FF464E;
}

.nav {
  width: 1200px;
  height: 38px;
  margin: 0 auto;
}

.navigation li {
  float: left;
  display: inline;
  height: 38px;
  position: relative;
  z-index: 11;
}
.current {
  background: #FF464E;
  border-radius: 6px 6px 0 0;
}

.navigation .current a {
  color: #FFF;
}

.navigation li a {
  float: left;
  padding: 10px 24px 0;
  font-size: 14px;
  height: 30px;
  color: #333333;
}
.navigation li a:hover {
  text-decoration: none;
  color: #ff464e;
}
#new-qcodes {
  top: 40px;
}

.code {
  background: url(../img/jp-app-90-new.png) no-repeat;
  height: 148px;
  width: 148px;
}

.navigation li:hover .code-tips {
  display: block;
}

.navigation .code-tips {
  display: none;
  position: absolute;
  left: -28px;
  top: 36px;
  background-color: #fff;
  border: #e2e2e2 solid 1px;
  padding: 5px;
  width: 148px;
  height: 173px;
  z-index: 100;
}
#new-phone {
  background: url(../img/phone-new-20151119.png) no-repeat;
  height: 16px;
  margin-top: 3px;
  width: 12px;
  float: left;
  margin-right: 3px;
}

.top_bar {
  width: 1200px;
  background-color: #f7f7f7;
  height: 380px;
  overflow: hidden;
  margin: 0 auto;
}
/*底部*/
.foot {
  position: relative;
  margin: 0 auto;
  margin-top: 40px;
  background: #F9F9F9;
  z-index: 100;
  border-top: 1px solid #ce003f;
  overflow: hidden;
}
.foot .logo1 {
  color: #999999;
  text-align: center;
  padding-top: 10px;
}
.foot .logo1 img {
  margin-right: 27px;
}

.white_bg {
  border-top: 4px solid #FF464E;
}

.foot-con {
  width: 1100px;
  padding: 0 50px;
  margin: 0 auto;
  padding-bottom: 30px;
  background: #F9F9F9;
}

.con-box-n {
  padding-top: 25px;
  margin: 0 auto;
  overflow: hidden;
}

.app-side-box {
  width: 90px;
}
.app-side-box .app-show {
  background: url(../img/jp-app-90.png) no-repeat;
  height: 90px;
  width: 90px;
  margin-top: 5px;
}
.app-side-box .app-txt {
  margin: 10px 0;
}

.con-left-info {
  padding-left: 65px;
  width: auto;
  overflow: hidden;
}
.con-left-info .help-info {
  width: 100px;
}
.con-left-info dl {
  width: 200px;
  float: left;
  display: inline;
}
.con-left-info dl dt {
  font-size: 14px;
  color: #333333;
  font-weight: bold;
  margin-bottom: 10px;
  padding-left: 7px;
}
.con-left-info dl dd {
  margin-bottom: 5px;
  color: #666666;
}
.con-left-info dl dd a {
  color: #666666;
}
.con-left-info dl dd a i {
  width: 4px;
  height: 4px;
  overflow: hidden;
  border-radius: 50%;
  background: #C6C6C6;
  display: inline-block;
  margin-right: 5px;
  float: left;
  margin-top: 8px;
}

.con-menu {
  margin-top: 35px;
}
.con-menu a {
  display: block;
  width: 86px;
  height: 35px;
  background: url(../img/service_add.gif) no-repeat 0 -5px;
}
.con-menu .service-time {
  padding-left: 10px;
  width: 65px;
}
.con-menu .service-time p {
  color: #919191;
  line-height: 18px;
}

.links {
  height: 20px;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  color: #999999;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 auto;
}
.links span {
  display: block;
  overflow: hidden;
  float: left;
}

.links_list_box {
  width: 970px;
  float: left;
  height: 20px;
  position: relative;
  overflow: hidden;
}

.links_list {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}
.links_list li {
  height: 20px;
  overflow: hidden;
  position: relative;
  margin-bottom: 5px;
}
.links_list li a {
  color: #999999;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

.more {
  float: right;
  color: #999999;
}

.ft-company {
  text-align: center;
  padding-top: 20px;
  color: #C6C6C6;
}
.ft-company a {
  color: #C6C6C6;
}
.ft-company a:hover {
  text-decoration: underline;
}

/*详情页*/
.pr{
	position: relative;
}
.mt20{
	width: 1200px;
	margin-top: 20px !important;
}
.main{
	margin: 0 auto;
}
.place-show{
	width: auto;
	height: auto;
	overflow: hidden;
	margin: 0 0 20px 0;
}
.place-explain a{
	font-size: 14px;
	color: #333333;
	margin: 0 5px;
}
.tab_arrow{
	width: 6px;
	height: 10px;
	display: inline-block;
	background: url(../img/tab_arrow.png) no-repeat;
	background-size: 100% 100%;
}
.goods_show{
	width: 1200px;
	height: auto;
	padding: 0 20px 0 0;
	background: #FFFFFF;
}
.deal-pic{
	display: inline-block;
	width: 480px;
	margin-bottom: 60px;
}
.deal-pic ul {
    width: 58px;
    display: inline-block;
    font-size: 0;
    margin-right: 18px;
    vertical-align: middle;
}
.deal-pic ul li {
    border: 1px solid #ebebeb;
    height: 58px;
    margin-bottom: 8px;
    width: 58px;
}
.deal-pic .cur {
    border-color: #333;
}
.deal-pic ul li:last-child {
    margin-bottom: 0;
}
.mr0 {
    margin-right: 0px!important;
}
.deal-pic .scale {
    display: inline-block;
    height: 400px;
    overflow: hidden;
    vertical-align: middle;
    width: 400px;
    text-align: center;
    position: relative;
}
.pic{
	width: 400px;
	height: 400px;
}
.pic img {
    display: block;
    max-width: 400px;
    _width: 400px;
    max-width: 400px;
}
.bigscale{
    width: 400px;
    height: 400px;
    border: 1px solid #000;
    overflow: hidden;
    position: absolute;
    left: 500px;
    top: 50px;
    z-index: 100;
    visibility: hidden;

}
.smallscale{
	width: 200px;
    height: 200px;
    background: orange;
    opacity: 0.3;
    position: absolute;
    left: 0px;
    top: 0px;
    visibility: hidden;
}
.bigpic{
    width: 800px;
    height: 800px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.sale_ad_info_txt {
    margin-top: 20px;
    margin-left: 80px;
}
.sale_text_wrapper {
    display: inline-block;
}
.sale_ad_txt:first-child {
    margin-left: 0;
}
.sale_ad_txt{
    display: inline;
    font-size: 12px;
    color: #666;
    margin-left: 26px;
}
.deal-pic .sector-other {
    width: 338px;
    clear: both;
    margin: 20px 0 0 76px;
    line-height: 20px;
}
.collect {
    margin-right: 60px;
}
.sector-other div {
    float: left;
}
.sector-other div a {
    color: #666;
}
.sector-other div i {
    width: 21px;
    height: 17px;
    display: inline-block;
    overflow: hidden;
    vertical-align: -4px;
    margin-right: 5px;
    background: url(../img/mall-total.gif) no-repeat;
}
.sector-other .collect i {
    background-position: -103px 2px;
}
.sector-other .share-box i {
    background: url(../img/share.png) no-repeat;
    width: 12px;
    height: 12px;
    background-size: 100%;
    vertical-align: middle;
    margin-top: -4px;
}
.share-box .share {
    display: none;
    margin-left: 5px;
    height: 16px;
}
.share-box .txt1{
    float: left;
}
.share-box .share a {
    margin-top: 2px;
}
.bdshare-button-style0-16 a{
    float: left;
    font-size: 12px;
    padding-left: 17px;
    line-height: 16px;
    height: 16px;
    background-image: url(../img/icons_0_16.png);
    background-repeat: no-repeat;
    cursor: pointer;
    margin: 6px 6px 6px 0;
}
.bdshare-button-style0-16 .bds_qzone {
    background-position: 0 -52px;
}
.bdshare-button-style0-16 .bds_tsina {
    background-position: 0 -104px;

.bdshare-button-style0-16 .bds_tqq {
    background-position: 0 -260px;
}}
.deal-wrap{
	width: 460px;
	margin-left: 36px;
	display: inline-block;
	position: relative;
	vertical-align: top;
}
.deal-wrap h1 {
    color: #333;
    font-size: 18px;
    max-height: 52px;
    width: 460px;
    overflow-y: hidden;
}
.sector-info{
	width: 460px;
    float: left;
    display: inline;
    line-height: 32px;
    padding-bottom: 80px;
}
.sector-info .J-basic {
    padding: 0;
    border-bottom: 1px dotted #e2e2e2;
}
.sector-info .d-info {
    background: #FFF0F0;
    margin: 10px 0 0 0;
    padding: 8px 0 10px 10px;
    position: relative;
}
.tm-price {
    line-height: 26px;
    overflow: hidden;
}
.deal-wrap dl dd {
    float: left;
}
.tm-price .current2 {
    font-size: 28px;
    color: #ff464e;
}
.tm-price dd i {
    font-size: 18px;
    font-family: "微软雅黑","verdana";
}
.price .old {
    line-height: 32px;
    color: #999;
    margin-left: 10px;
    font-size: 14px;
}
.old .u-yen {
    font-family: "微软雅黑","verdana";
    font-size: 14px;
    margin-left: 4px;
}
.activity-info{
	overflow: hidden;
}
.sector-info dl dt {
    color: #999;
    width: 50px;
    float: left;
}
.activity-c {
    width: 398px;
}
.activity-item {
    color: #333;
    cursor: pointer;
    padding-top: 8px;
    position: relative;
}
.activity-c .brand-tag-red {
    font-family: '宋体';
    color: #fff;
    margin-right: 10px;
    background: #FF9000;
    padding: 0px 2px;
    line-height: 14px;
    border: 1px solid #FF9000;
    border-radius: 1px;
}
.info {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 16px;
    width: 340px;
}
.act_detail_icon {
    width: 8px;
    height: 9px;
    background: url(../img/act_detail.png) no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    margin-left: 2px;
}
.detail {
    color: #333;
    margin-left: 5px;
    }
.freight {
    margin: 6px 0 6px 10px;
    overflow: hidden;
}
.address {
    display: inline;
    cursor: pointer;
    color: #333;
}
.sale_ad_txt {
    display: inline;
    font-size: 12px;
    color: #666;
    margin-left: 26px;
}
.sale_ad_info_time {
    font-size: 12px;
    color: #333;
    margin-left: 0;
}
.J-other {
    margin-top: 12px;
    width: 460px;
    padding-left: 10px;
}
.deal-wrap dl.color {
    margin-top: 10px;
}
.color dt {
    min-width: 50px;
}
.color ul li.cur,.size ul li.cur{
	background: #fff;
    border: 1px solid #ccc;
    float: left;
    display: inline;
    margin: 0 5px 10px;
    position: relative;
    min-width: 34px;
    border-color: #ff464e;
    border-width: 1px;
    height: 32px;
    line-height: 30px;
}
.color ul li a,.size ul li a{
    position: relative;
    background: #fff;
    display: block;
    height: 32px;
    line-height: 30px;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    color: #333;
    cursor: pointer;
}
.color ul li a img {
    width: 22px;
    height: 22px;
    margin-left: 8px;
    vertical-align: middle;
}
.color .cur a,.size .cur a{
    color: #ff464e;
    height: 32px;
    line-height: 30px;
}
.sku_attr_title {
    font-size: 12px;
    margin-left: 4px;
    margin-right: 9px;
    vertical-align: middle;
}
.J-other dl.size {
    margin-top: 2px;
}
ul li a span.c {
    line-height: 34px;
    padding: 0 15px;
    display: block;
    min-width: 34px;
}
.deal-wrap .number {
    margin-top: 10px;
    padding-left: 12px;
}
.deal-wrap .number dd p {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #e2e2e2;
    float: left;
    line-height: 26px;
    margin-right: 10px;
    height: 28px;
}
.deal-wrap p {
    color: #666;
    font-weight: normal;
    line-height: 20px;
    max-height: 40px;
    overflow: hidden;
}
.number dd p i {
    cursor: pointer;
    float: left;
    font: bold 18px/26px "微软雅黑";
    height: 28px;
    text-align: center;
    width: 26px;
    user-select: none;
}
.number dd p input {
    background: #f6f6f6;
    font-size: 14px;
    border-color: #e2e2e2;
    border-style: solid;
    border-width: 0 1px;
    float: left;
    height: 28px;
    line-height: 28px;
    padding: 0 5px;
    text-align: center;
    width: 40px;
    color: #8a8a8a;
    font-family: "Arial";
}
.submit-go {
    margin: 20px 0 0 64px;
    float: left;
    width: auto;
    display: inline;
    position: relative;
}
.submit-go .btn {
    text-align: center;
    line-height: 38px;
    background: #FFF0F0;
    width: 154px;
    height: 38px;
    display: block;
    font-size: 18px;
    color: #ff464e;
    font-family: "微软雅黑","宋体";
    float: left;
    border-radius: 2px;
    border: 1px solid #ff464e;
}
.submit-go .add-cart-btn{
    background: #ff464e;
    color: #fff;
    border-color: transparent;
}

.deal-store{
	display: inline-block;
	margin-left: 16px;
	width: 191px;
	background: #FFFFFF;
	border: 1px solid #ebebeb;
	text-align: center;
}
.store_wrapper{
	padding: 20px 0;
	margin: 0 20px;
	border-bottom: 1px dotted #EBEBEB;
}
.deal_store_img{
	width: 48px;
	height: 48px;
	border: 1px solid #EBEBEB;
	margin-left: 50px;
	line-height: 48px;
}
.deal_store_img img{
	width: 48px;
	height: 24px;
	vertical-align: middle;
}
.deal_store_name{
	font-size: 14px;
	color: #333333;
	font-weight: bold;
	margin-top: 16px;
	margin-bottom: 8px;
}
.deal_store_name a{
	color: #5E5E5E;
}
.deal_buy_nums{
	font-size: 12px;
	color: #999999;
}
.store_desc{
	text-align: left;
	padding: 20px 0;
	margin: 0 20px;
	border-bottom: 1px dotted #EBEBEB;
}
.sale-line{
	margin-bottom: 20px;
	font-size: 12px;
	color: #666666;
}
.sale-line img{
	margin-right: 8px;
	width: 14px;
	height: 14px;
	vertical-align: middle;
}
.sale-line a{
	color: #5E5E5E;
}
.to_im {
    margin-top: 20px;
    text-align: left;
    margin-left: 21px;
    margin-bottom: 50px;
}

/*购物车*/
.boKPYq {
    height: auto;
    width: 1200px;
    margin: 0 auto;
}
.digzXy {
    height: 45px;
    width: 100%;
    line-height: 45px;
    color: #a3a3a3;
}
.canDc {
    text-align: left;
    padding: 0 0 0 33px;
    margin: 0 0 0 163px;
}
.fWrwWU {
    float: left;
    width: 230px;
    text-align: center;
    box-sizing: border-box;
}
.cpbYri {
    width: 170px;
}
.ccwVLU {
    width: 215px;
}
.hKQHp {
    width: 155px;
}
.cobIRk {
    height: auto;
    width: 1200px;
    box-sizing: border-box;
    background: #ffffff;
    box-shadow: #f1f1f1 0 0 1px;
}
.gdQmFd {
    position: relative;
    padding: 0 0 20px 0;
}
.jIjoBj {
    height: 500px;
    width: 100%;
    background: url(//jp.juancdn.com/jpwebapp_v1/images_v1/shopping/empty-cart.png);
    background-repeat: no-repeat;
    background-position: center center;
    box-sizing: border-box;
    padding: 400px 0 0 0;
    text-align: center;
}
.iwASZe {
    color: #333333;
    font-size: 16px;
    text-align: center;
}
.kzQkKL {
    display: inline-block;
    width: 80px;
    padding: 5px;
    border-radius: 3px;
    border: #ff464e 1px solid;
    color: #ff464e;
    margin: 10px;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.cnZstM {
    height: 52px;
    width: 1160px;
    line-height: 52px;
    padding: 0 5px 0 0;
    box-sizing: border-box;
    margin: 0 auto;
}
.dhEFau {
    float: left;
    height: 99%;
    width: 40px;
    text-align: center;
}
.hEFYKq {
    position: relative;
    top: -1px;
    vertical-align: middle;
    display: inline-block;
    border-radius: 15px;
    cursor: pointer;
    border: #9B9B9B 1px solid;
    width: 15px;
    height: 15px;
    line-height: 15px;
    -webkit-transition: background 0.2s linear;
    transition: background 0.2s linear;
}
.hEFYKq.checked {
    background: #ff464e;
    border-color: #ff464e;
}
.hEoyiQ {
    padding: 0 10px 0 0px;
    display: inline;
}
.jklnfm{
    position: relative;
    top: -1px;
    padding: 0 5px 0 0;
    height: 20px;
    width: 20px;
    display: inline-block;
    vertical-align: middle;
}
.jklnfm img{
	border-style: none;
}
.jgeReN {
    position: relative;
    height: 126px;
    width: 1158px;
    border: #efefef 1px solid;
    border-top: 0;
    background: #fafafa;
    margin: 0 auto;
    -webkit-transition: background 0.2s linear;
    transition: background 0.2s linear;
}
.jgeReN:first-child {
    border-top: #efefef 1px solid;
}
.hsCwkx {
    padding: 55px 0;
    box-sizing: border-box;
}
.dhEFau {
    float: left;
    height: 99%;
    width: 40px;
    text-align: center;
}
.dTmrnm {
    float: left;
    height: 100px;
    width: 100px;
    margin: 13px 0 13px 0;
}
.bHFcVk {
    padding: 0 13px 0 13px;
    line-height: 18px;
    margin-left: 6px;
}
.fFbWQU {
    color: #666666;
    font-weight: 400;
    min-height: 40px;
    display: block;
    padding: 0 0 10px 0;
}
.fFwBrd {
    color: #ff464e;
    padding: 0 3px 0 5px;
}
.fNZORM {
    color: #999999;
}
.gqzEPU {
    text-align: center;
    font-size: 14px;
    line-height: 100px;
}
.jFEPfJ {
    color: #cccccc;
    padding: 0 0 0 5px;
    font-size: 12px;
    font-style: normal;
}
.hpxIDz.cABebT{
    height: 22px;
    width: auto;
    margin: 52px 43px 0 43px;
}
.eXJNFH {
    height: 20px;
    width: 20px;
    line-height: 18px;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    color: #cccccc;
    background: #ffffff;
    font-size: 14px;
    cursor: not-allowed;
    -webkit-transition: color 0.2s linear;
    transition: color 0.2s linear;
}
.jKWKYq {
    border-right: #e1e1e1 1px solid;
}
.jqPibT {
    height: 20px;
    width: 20px;
    line-height: 18px;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    color: #666666;
    background: #ffffff;
    font-size: 14px;
    cursor: pointer;
    -webkit-transition: color 0.2s linear;
    transition: color 0.2s linear;
}
.eywEEl {
    width: auto;
    color: #999999;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    padding: 0 10px 0 10px;
    height: 19px;
}
.jqPibT {
    height: 20px;
    width: 20px;
    line-height: 18px;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    color: #666666;
    background: #ffffff;
    font-size: 14px;
    cursor: pointer;
    -webkit-transition: color 0.2s linear;
    transition: color 0.2s linear;
}
.jiKWSK {
    border-left: #e1e1e1 1px solid;
}
.dQIiuS {
    text-align: center;
    font-size: 14px;
    color: #ff464e;
    line-height: 100px;
}
.hpxIDz {
    float: left;
    margin: 13px 0 13px 0;
    height: 100px;
    width: 230px;
    box-sizing: border-box;
}
.giPVvt {
    width: 135px;
    text-align: right;
}
.carNkP {
    display: inline-block;
    height: 24px;
    width: 24px;
    margin: 38px auto 0 0;
    cursor: pointer;
    background-posiiton: center center;
}
.ewFBmF {
    background: url(../img/delete.91359608.png);
    transition: transform 0.2s linear;
}
.dTaAdI {
    margin: 10px 0 0 0;
    height: 48px;
    width: 100%;
    line-height: 48px;
    border-top: #efefef 1px solid;
    color: #666666;
    box-shadow: #fafafa 0 -1px 2px;
}
.lcRLSj {
    float: left;
    margin: 0 0 0 20px;
    font-size: 14px;
    color: #666666;
}
.dhEFau {
    float: left;
    height: 99%;
    width: 40px;
    text-align: center;
}
.hPtVKw {
    float: right;
}
.eRltkm {
    color: #ff464e;
    padding: 0 5px 0 5px;
}
.jZoxra {
    padding: 0 5px 0 5px;
    font-size: 12px;
}
.jUfYqO {
    color: #ff464e;
    font-size: 18px;
    padding: 0 5px 0 5px;
}
.POmDt {
    position: relative;
    top: -2px;
    height: 48px;
    width: 200px;
    background: #ff464e;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    border: 0;
    margin: 0 0 0 25px;
    cursor: pointer;
    outline: 0;
    transition: all 0.2s linear;
}
.hEFYKq.checked:before {
    transform: rotate(45deg) scale(1);
}
.hEFYKq:before {
    content: ' ';
    position: absolute;
    top: 0px;
    left: 0px;
    transform: rotate(0) scale(0);
    display: table;
    border: 2px solid #fff;
    border-top: 0;
    border-left: 0;
    width: 3px;
    height: 7px;
    left: 5px;
    top: 2px;
    transition: all 0.3s cubic-bezier(0.12,0.4,0.29,1.46);
}
/*侧边栏*/
.side_right {
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 36px;
  z-index: 102;
  background: #444;
}
.side_right .side-box {
  background: #444;
  height: 100%;
  position: relative;
  z-index: 101;
  color: #FFFFFF;
}

.side-oper {
  position: absolute;
  top: 120px;
  width: 36px;
}
.side-oper .normals {
  margin-top: 15px;
  position: relative;
  list-style: none;
}
.side-oper .normals .links1 {
  width: 36px;
  padding: 9px 0;
  display: block;
  cursor: pointer;
  color: #5E5E5E;
}
.side-oper .side-user {
  margin-top: 0;
}
.side-oper .side-cart {
  border-top: 2px solid #222;
  border-bottom: 2px solid #222;
}

.normal-icon {
  display: block;
  background: url(../img/sidebar.png) no-repeat;
}

.i-user {
  background-position: 0 0;
  width: 18px;
  height: 18px;
  margin-left: 9px;
}

.side_right .side-oper li.normals .tab-login {
  line-height: 36px;
  opacity: 0;
  position: absolute;
  right: 62px;
  text-align: center;
  top: 0;
  border-radius: 2px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  color: #fff;
  display: none;
  background: #fff;
  width: 220px;
  height: 106px;
  padding: 20px 0;
  z-index: 10;
}
.side_right .side-oper li.normals .tab-login .head {
  display: block;
  width: 60px;
  height: 60px;
  margin: 0 auto 10px;
}
.side_right .side-oper li.normals .tab-login .head .pic {
  border: #eee solid 2px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 0 auto 10px;
}
.side_right .side-oper li.normals .tab-login .head .pic img {
  border-radius: 50%;
}

.normals .tab-login .txt {
  color: #333;
  background: #fff3f5;
  border-top: #ffd8d8 solid 1px;
  border-bottom: #ffd8d8 solid 1px;
  height: 30px;
  line-height: 30px;
}
.normals .tab-login .txt a {
  color: #ff464e;
}

.side_right .arr-icon {
  color: #444;
  font-family: "瀹嬩綋";
  font-size: 16px;
  height: 16px;
  line-height: 16px;
  position: absolute;
  right: -6px;
  text-align: center;
  top: 14px;
  width: 16px;
}
.side_right .close {
  color: #ccc;
  display: block;
  width: 10px;
  height: 10px;
  font-size: 16px;
  line-height: 10px;
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
}

.links-cart {
  border-top: 1px solid #555555;
  border-bottom: 1px solid #555555;
}

.i-cart {
  height: 77px;
  width: 18px;
  background-position: 1px -24px;
  margin: 0 0 0 9px;
}

.num {
  background: #ff464e;
  border-radius: 15px;
  color: #fff;
  display: block;
  font-family: "瀹嬩綋";
  height: 18px;
  line-height: 18px;
  width: 18px;
  text-align: center;
  margin: 5px 0 0 9px;
  font-style: normal;
}

.i-love {
  width: 18px;
  height: 18px;
  background-position: 0 -110px;
  margin: 0 0 0 9px;
}

.i-quan {
  width: 18px;
  height: 18px;
  background-position: 0 -134px;
  margin: 0 0 0 9px;
}

.tab-tips {
  background-color: #444;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  color: #fff;
  display: none;
  height: 36px;
  line-height: 36px;
  opacity: 0;
  position: absolute;
  right: 62px;
  text-align: center;
  top: 0;
  width: 90px;
  border-radius: 2px;
}

.side-oper.other {
  position: absolute;
  bottom: 0;
  top: auto;
}

.i-complain {
  width: 18px;
  height: 18px;
  background-position: 0 -208px;
  margin: 0 0 0 9px;
}

.i-code {
  width: 18px;
  height: 18px;
  background-position: 0 -160px;
  margin: 0 0 0 9px;
}

.i-backtop {
  width: 18px;
  height: 18px;
  background-position: 0 -187px;
  margin: 0 0 0 9px;
}
/*限购*/
.deal-wrap .number dd span{
    display: block;
    float: left;
}
.red{
	color: #FF464E;
}
/*注册登陆*/
.error-box1{
    margin-left: 10px;
    width: 16px;
    height: 16px;
    margin-top: 10px;
    color: #666;
    float: left;
    overflow: hidden;

}
.msg_error {
    width: 330px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    top: 42px;
    left: 90px;
    color: #ff464e;
}
 .msg_error_gray{
 	color: #666;
 }
.content-landing li strong {
    width: 16px;
    height: 16px;
    background: url(../img/login.gif) no-repeat;
    display: inline-block;
    margin-right: 3px;
    visibility: hidden;
}
.content-landing .error{
    background-position: 0 -19px;
}
.content-landing .ok{
    background-position: -40px -19px;
}

